{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "rules": {
    // Enforces getter/setter pairs in objects
    "accessor-pairs": "off",
    // treat var statements as if they were block scoped
    "block-scoped-var": "off",
    // specify the maximum cyclomatic complexity allowed in a program
    "complexity": "off",
    // require return statements to either always or never specify values
    "consistent-return": "off",
    // specify curly brace conventions for all control statements
    "curly": [2, "all"],
    // require default case in switch statements
    "default-case": "error",
    // enforces consistent newlines before or after dots
    "dot-location": "off",
    // encourages use of dot notation whenever possible
    "dot-notation": "off",
    // require the use of === and !==
    "eqeqeq": "off",
    // make sure for-in loops have an if statement
    "guard-for-in": "error",
    // disallow the use of alert, confirm, and prompt
    "no-alert": "off",
    // disallow use of arguments.caller or arguments.callee
    "no-caller": "error",
    // disallow lexical declarations in case clauses
    "no-case-declarations": "error",
    // disallow division operators explicitly at beginning of regular expression
    "no-div-regex": "off",
    // disallow else after a return in an if
    "no-else-return": "off",
    // disallow use of empty destructuring patterns
    "no-empty-pattern": "error",
    // disallow symbol constructor
    "no-new-symbol": "error",
    // disallow self assignment
    "no-self-assign": "error",
    // disallow comparisons to null without a type-checking operator
    "no-eq-null": "off",
    // disallow use of eval()
    "no-eval": "error",
    // disallow adding to native types
    "no-extend-native": "error",
    // disallow unnecessary function binding
    "no-extra-bind": "off",
    // disallow fallthrough of case statements
    "no-fallthrough": "off",
    // disallow the use of leading or trailing decimal points in numeric literals
    "no-floating-decimal": "off",
    // disallow the type conversions with shorter notations
    "no-implicit-coercion": "off",
    // disallow use of eval()-like methods
    "no-implied-eval": "off",
    // disallow this keywords outside of classes or class-like objects
    "no-invalid-this": "error",
    // disallow usage of __iterator__ property
    "no-iterator": "off",
    // disallow use of labeled statements
    "no-labels": "error",
    // disallow unnecessary nested blocks
    "no-lone-blocks": "off",
    // disallow creation of functions within loops
    "no-loop-func": "error",
    // disallow the use of magic numbers
    "no-magic-numbers": "off",
    // disallow use of multiple spaces
    "no-multi-spaces": "off",
    // disallow use of multiline strings
    "no-multi-str": "error",
    // disallow reassignments of native objects
    "no-native-reassign": "off",
    // disallow use of new operator for Function object
    "no-new-func": "off",
    // disallows creating new instances of String,Number, and Boolean
    "no-new-wrappers": "off",
    // disallow use of new operator when not part of the assignment or comparison
    "no-new": "off",
    // disallow use of octal escape sequences in string literals, such as
    // var foo = "Copyright \251";
    "no-octal-escape": "off",
    // disallow use of (old style) octal literals
    "no-octal": "off",
    // disallow reassignment of function parameters
    "no-param-reassign": "off",
    // disallow use of process.env
    "no-process-env": "off",
    // disallow usage of __proto__ property
    "no-proto": "off",
    // disallow declaring the same variable more then once
    "no-redeclare": "off",
    // disallow use of assignment in return statement
    "no-return-assign": "off",
    // disallow use of `javascript:` urls.
    "no-script-url": "off",
    // disallow comparisons where both sides are exactly the same
    "no-self-compare": "off",
    // disallow use of comma operator
    "no-sequences": "off",
    // restrict what can be thrown as an exception
    "no-throw-literal": "off",
    // disallow usage of expressions in statement position
    "no-unused-expressions": "off",
    // disallow unnecessary .call() and .apply()
    "no-useless-call": "off",
    // disallow unnecessary concatenation of literals or template literals
    "no-useless-concat": "off",
    // disallow use of void operator
    "no-void": "off",
    // disallow usage of configurable warning terms in comments: e.g. todo
    "no-warning-comments": "off",
    // disallow use of the with statement
    "no-with": "error",
    // require use of the second argument for parseInt()
    "radix": "off",
    // requires to declare all vars on top of their containing scope
    "vars-on-top": "off",
    // require immediate function invocation to be wrapped in parentheses
    "wrap-iife": "off",
    // require or disallow Yoda conditions
    "yoda": "off",
    // disallow trailing commas in object literals
    "comma-dangle": "off",
    // disallow assignment in conditional expressions
    "no-cond-assign": "off",
    // disallow use of console
    "no-console": "off",
    // disallow use of constant expressions in conditions
    "no-constant-condition": "error",
    // disallow control characters in regular expressions
    "no-control-regex": "off",
    // disallow use of debugger
    "no-debugger": "off",
    // disallow duplicate arguments in functions
    "no-dupe-args": "off",
    // disallow duplicate keys when creating object literals
    "no-dupe-keys": "off",
    // disallow a duplicate case label.
    "no-duplicate-case": "off",
    // disallow the use of empty character classes in regular expressions
    "no-empty-character-class": "off",
    // disallow empty statements
    "no-empty": "off",
    // disallow assigning to the exception in a catch block
    "no-ex-assign": "off",
    // disallow double-negation boolean casts in a boolean context
    "no-extra-boolean-cast": "off",
    // disallow unnecessary parentheses
    "no-extra-parens": "off",
    // disallow unnecessary semicolons
    "no-extra-semi": "off",
    // disallow overwriting functions written as function declarations
    "no-func-assign": "off",
    // disallow function or variable declarations in nested blocks
    "no-inner-declarations": ["error", "functions"],
    // disallow invalid regular expression strings in the RegExp constructor
    "no-invalid-regexp": "off",
    // disallow irregular whitespace outside of strings and comments
    "no-irregular-whitespace": "off",
    // disallow negation of the left operand of an in expression
    "no-negated-in-lhs": "off",
    // disallow the use of object properties of the global object (Math and JSON) as functions
    "no-obj-calls": "off",
    // disallow multiple spaces in a regular expression literal
    "no-regex-spaces": "off",
    // disallow sparse arrays
    "no-sparse-arrays": "off",
    // Avoid code that looks like two expressions but is actually one
    "no-unexpected-multiline": "error",
    // disallow unreachable statements after a return, throw, continue, or break statement
    "no-unreachable": "off",
    // disallow comparisons with the value NaN
    "use-isnan": "off",
    // ensure JSDoc comments are valid
    "valid-jsdoc": "error",
    // ensure that the results of typeof are compared against a valid string
    "valid-typeof": "off",
    // require braces in arrow function body
    "arrow-body-style": ["error", "as-needed"],
    // require parens in arrow function arguments
    "arrow-parens": ["error", "as-needed"],
    // require space before/after arrow function's arrow
    "arrow-spacing": ["error", { "before": true, "after": true }],
    // verify super() callings in constructors
    "constructor-super": "error",
    // enforce the spacing around the * in generator functions
    "generator-star-spacing": "off",
    // disallow arrow functions where they could be confused with comparisons
    "no-confusing-arrow": "error",
    // disallow modifying variables of class declarations
    "no-class-assign": "error",
    // disallow modifying variables that are declared using const
    "no-const-assign": "error",
    // disallow duplicate name in class members
    "no-dupe-class-members": "error",
    // disallow to use this/super before super() calling in constructors.
    "no-this-before-super": "error",
    // require let or const instead of var
    "no-var": "error",
    // require method and property shorthand syntax for object literals
    "object-shorthand": ["error", "always"],
    // suggest using arrow functions as callbacks
    "prefer-arrow-callback": "off",
    // suggest using of const declaration for variables that are never modified after declared
    "prefer-const": "error",
    // suggest using Reflect methods where applicable
    "prefer-reflect": "off",
    // suggest using the spread operator instead of .apply()
    "prefer-spread": "off",
    // suggest using template literals instead of strings concatenation
    "prefer-template": "off",
    // disallow generator functions that do not have yield
    "require-yield": "off",
    // enforce return after a callback
    "callback-return": "off",
    // disallow require() outside of the top-level module scope
    "global-require": "off",
    // enforces error handling in callbacks (node environment)
    "handle-callback-err": "off",
    // disallow mixing regular variable and require declarations
    "no-mixed-requires": "off",
    // disallow use of new operator with the require function
    "no-new-require": "off",
    // disallow string concatenation with __dirname and __filename
    "no-path-concat": "off",
    // disallow process.exit()
    "no-process-exit": "off",
    // restrict usage of specified node modules
    "no-restricted-modules": "off",
    // disallow use of synchronous methods (off by default)
    "no-sync": "off",
    // require that all functions are run in strict mode
    "strict": "off",
    // enforce spacing inside array brackets
    "array-bracket-spacing": "off",
    // disallow or enforce spaces inside of single line blocks
    "block-spacing": "off",
    // enforce one true brace style
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    // require camel case names
    "camelcase": ["error", {"properties": "never"}],
    // enforce spacing before and after comma
    "comma-spacing": "off",
    // enforce one true comma style
    "comma-style": "off",
    // require or disallow padding inside computed properties
    "computed-property-spacing": "off",
    // enforces consistent naming when capturing the current execution context
    "consistent-this": "off",
    // enforce newline at the end of file, with no multiple empty lines
    "eol-last": "off",
    // require function expressions to have a name
    "func-names": "off",
    // enforces use of function declarations or expressions
    "func-style": "off",
    // this option enforces minimum and maximum identifier lengths (variable names, property names etc.)
    "id-length": "off",
    // require identifiers to match the provided regular expression
    "id-match": "off",
    // this option sets a specific tab width for your code
    "indent": ["error", 2, {"SwitchCase": 1}],
    // specify whether double or single quotes should be used in JSX attributes
    "jsx-quotes": "off",
    // enforces spacing between keys and values in object literal properties
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    // disallow mixed "LF" and "CRLF" as linebreaks
    "linebreak-style": "off",
    // enforces empty lines around comments
    "lines-around-comment": "off",
    // specify the maximum depth that blocks can be nested
    "max-depth": "off",
    // specify the maximum length of a line in your program
    "max-len": [2, 120],
    // specify the maximum depth callbacks can be nested
    "max-nested-callbacks": "off",
    // limits the number of parameters that can be used in the function declaration.
    "max-params": "off",
    // specify the maximum number of statement allowed in a function
    "max-statements": "off",
    // require a capital letter for constructors
    "new-cap": "error",
    // disallow the omission of parentheses when invoking a constructor with no arguments
    "new-parens": "off",
    // allow/disallow an empty newline after var statement
    "newline-after-var": "error",
    // disallow use of the Array constructor
    "no-array-constructor": "error",
    // disallow use of bitwise operators
    "no-bitwise": "off",
    // disallow use of the continue statement
    "no-continue": "off",
    // disallow comments inline after code
    "no-inline-comments": "off",
    // disallow if as the only statement in an else block
    "no-lonely-if": "off",
    // disallow mixed spaces and tabs for indentation
    "no-mixed-spaces-and-tabs": "error",
    // disallow multiple empty lines
    "no-multiple-empty-lines": "off",
    // disallow negated conditions
    "no-negated-condition": "off",
    // disallow nested ternary expressions
    "no-nested-ternary": "off",
    // disallow use of the Object constructor
    "no-new-object": "error",
    // disallow use of unary operators, ++ and --
    "no-plusplus": "off",
    // disallow use of certain syntax in code
    "no-restricted-syntax": "off",
    // disallow space between function identifier and application
    "no-spaced-func": "error",
    // disallow the use of ternary operators
    "no-ternary": "off",
    // disallow trailing whitespace at the end of lines
    "no-trailing-spaces": "error",
    // disallow dangling underscores in identifiers
    "no-underscore-dangle": "off",
    // disallow the use of Boolean literals in conditional expressions
    "no-unneeded-ternary": "off",
    // require or disallow padding inside curly braces
    "object-curly-spacing": ["error", "never"],
    // allow just one var statement per function
    "one-var": "off",
    // require assignment operator shorthand where possible or prohibit it entirely
    "operator-assignment": "off",
    // enforce operators to be placed before or after line breaks
    "operator-linebreak": ["error", "after"],
    // enforce padding within blocks
    "padded-blocks": "off",
    // require quotes around object literal property names
    "quote-props": "off",
    // specify whether double or single quotes should be used
    "quotes": ["error", "single"],
    // Require JSDoc comment
    "require-jsdoc": "off",
    // enforce spacing before and after semicolons
    "semi-spacing": "off",
    // require or disallow use of semicolons instead of ASI
    "semi": "error",
    // sort variables within the same declaration block
    "sort-vars": "off",
    // enforce spacing before and after keywords
    "keyword-spacing": ["error", {"before": true, "after": true}],
    // require or disallow space before blocks
    "space-before-blocks": ["error", "always"],
    // require or disallow space before function opening parenthesis
    "space-before-function-paren": ["error", "never"],
    // require or disallow spaces inside parentheses
    "space-in-parens": ["error", "never"],
    // require spaces around operators
    "space-infix-ops": "error",
    // Require or disallow spaces before/after unary operators
    "space-unary-ops": "off",
    // require or disallow a space immediately following the // or /* in a comment
    "spaced-comment": "off",
    // require regex literals to be wrapped in parentheses
    "wrap-regex": "off",
    // enforce or disallow variable initializations at definition
    "init-declarations": "off",
    // disallow the catch clause parameter name being the same as a variable in the outer scope
    "no-catch-shadow": "off",
    // disallow deletion of variables
    "no-delete-var": "off",
    // disallow labels that share a name with a variable
    "no-label-var": "off",
    // disallow shadowing of names such as arguments
    "no-shadow-restricted-names": "off",
    // disallow declaration of variables already declared in the outer scope
    "no-shadow": "off",
    // disallow use of undefined when initializing variables
    "no-undef-init": "off",
    // disallow use of undeclared variables unless mentioned in a /*global */ block
    // FIXME - should be 0
    "no-undef": "off",
    // disallow use of undefined variable
    "no-undefined": "off",
    // disallow declaration of variables that are not used in the code
    "no-unused-vars": "off",
    // disallow use of variables before they are defined
    "no-use-before-define": "off"
  }
}
